html {
	margin: 0;
	padding-top: 20
	padding-right: 20
	padding-bottom: 20
	padding-left: 20
	}
header {
	color: #99e600
	}
body { 
	font: 75% georgia, sans-serif;
	line-height: 1.88889;
	color: #555753; 
	margin: 20; 
	padding: 20;
	background-color: lightblue;
	}
p { 
	margin: 20000;
	padding: 20000;
	text-align: justify;
	font-size: 15px;
	}
h1 { 
	font: italic normal 1.4em georgia, sans-serif;
	letter-spacing: 1px; 
	margin-bottom: 0; 
	color: #7D775C;
	}
h2 { 
	font: italic normal 1.4em georgia, sans-serif;
	letter-spacing: 1px; 
	margin-bottom: 0; 
	color: #7D775C;
	}
h3 { 
	font: italic normal 1.4em georgia, sans-serif;
	letter-spacing: 1px; 
	margin-bottom: 0; 
	color: #7D775C;
	}
h3.treeHeader { 
	font: bold normal 1.4em georgia, sans-serif;
	letter-spacing: 1px; 
	margin-bottom: 0; 
	color: #000000;
	}
code {
	font-size: 20px;
	color: #000000;
	}

#mainTitle { 
	font: bold normal 1.4em georgia, sans-serif;
	font-size: 40px;
	letter-spacing: 1px; 
	margin-bottom: 0; 
	color: #006666;
	}
#navigation {
	font-size: 15px;
	}



/* specific divs */

footer { 
	text-align: center; 
	}
footer a:link, footer a:visited { 
	margin-right: 20px; 
	}